---
import GalleryGrid from "@/components/gallery/GalleryGrid.astro";
import { GalleryPageSchema } from "@/types";

const url = `${import.meta.env.API_URL}/pages?slug=galeria`;
const response = await fetch(url);
const json = await response.json();
const data = GalleryPageSchema.parse(json[0]);
console.log(data);
---

<section class="bg-white px-20 pb-40 max-w-7xl mx-auto ">
    <h2 class="text-cafe-400 text-center font-black text-lg uppercase pb-4 after:coffee-icon">
        Vide la 
        <span class="text-cafe-900 text-4xl block">experiencia</span>
    </h2>
    <GalleryGrid gallery={data.gallery} />
</section>