---
import "@/styles/global.css";
import Header from "@/components/ui/Header.astro";
import Footer from "@/components/ui/Footer.astro";
import {ClientRouter, fade, slide} from 'astro:transitions'

interface Props {
    title: string;
    subtitle: string;
    bgImage: string;
}

const { title, subtitle, bgImage } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cafetería desde 1939: {title}</title>
        <link rel="icon" href="/favicon.svg" type="image/svgg+xml" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Sans:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <ClientRouter />
    </head>
    <body class="bg-cafe-100">
        <Header
        transition:animate={slide({duration: "1s"})}
        subtitle={subtitle} bgImage={bgImage} />
        <main
        transition:animate={slide({duration: "1s"})}
         class="bg-white p-10 lg:p-20 max-w-7xl mx-auto lg:-mt-20 relative">
            <h2 class="text-cafe-900 font-black text-center text-4xl uppercase pb-10 after:coffee-icon">{title}</h2>
            <slot  />
        </main>

        <slot name="after-main-content" />
        <Footer />
    </body>
</html>
