---
import FooterBox from "./FooterBox.astro";
---

<footer class="bg-cafe-900 pt-20">
    <div class="max-w-7xl mx-auto mt-10 grid grid-cols-1 lg:grid-cols-3 gap-5">
        <FooterBox heading="Ubicación" >
            <!-- todo lo que vaya aqui va dentro del slot -->
             <p>Coffe Street 39</p>
             <p>londres, UK</p>
        </FooterBox>

        <FooterBox heading="Reservación" >
            <p>Tel. 3850-8290</p>
            <a href="tel:+3850-8290">Llamar</a>
        </FooterBox>

        <FooterBox heading="Horario" >
            <p>Lun-Jue: 11:00 - 22:00</p>
            <p>Vie-Sab: 09:00 - 24:00</p>
            <p>Domingos: Cerrado</p>
        </FooterBox>
    </div>
    <p class="text-center py-10 text-white text-sm">
        Todos los derechos reservados. La Cafetería1939 &copy; {
            new Date().getFullYear()
        }
    </p>
</footer>
